
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-entry-color: #000;
  --border-color:#343a40;
  --border-color-light:#f8f9fa;
  --hour-background:#fff;
  --save-icon-color:#fff;
  --text-default-color:#343a40;
  --color-info: #17a2b8;
  --color-primary:#007bff;
  --color-past: #d3d3dd;
  --color-present:#dc6575;
  --color-future:#28c765;
  --border-radius: 15px;
  
  font-size: 16px;
}

body {
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
  background-color: var(--border-color-light);
  color: var(--text-default-color);
}

.custom-alert-date{
  width: 50ch;
  align-self: center;
  margin: 0 auto 1rem;
  padding: 0.75rem;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--text-entry-color);
  border-left: 1px solid var(--border-color);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: var(--border-radius);
}

.row {
  border-top: 1px solid var(--border-color-light);
}

.hour {
  background-color: var(--hour-background);
  color: var(--text-default-color);
  border-top: 1px dashed  var(--border-color);
}

.past {
  background-color: var(--color-past);
}

.present {
  background-color: var(--color-present);
}

.future {
  background-color: var(--color-future);
}

.save-btn {
  border-left: 1px solid  var(--border-color);
  border-top-right-radius:  var(--border-radius);
  border-bottom-right-radius:  var(--border-radius);
  background-color: var(--color-info);
  color: var(--save-icon-color);
}

.save-btn i {
  font-size:24px;
}

.save-btn:hover i{
  color: var(--color-primary);
}

.save-btn i:hover {
  font-size: 32px;
  color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}
